// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$primary-red: #ef363f;
$secondary-blue: #6acade;
$body-color: #3c3e41;
$light-body-font: #a5a5a5;
$nav-link-alt: #666666;

$font-extra: "acumin-pro-extra-condensed",sans-serif;
$font: "acumin-pro-condensed",sans-serif;
$font-body: Helvetica, Arial, sans-serif;
