
/*
    Contact Me Now Section Of Home Page
*/
section.contact-me {
  .section-heading {
    font-size: 4.4rem;
    font-weight: 100;
    line-height: 1.4;

    @media (max-width: 992px) {
    	font-size: 3.3rem;
    	font-family: $font-extra;
    }
  }

  h2 {
    text-transform: none !important;
  }
}
